@model IEnumerable<BDProjetSession.Models.RendezVou>

@{
    ViewData["Title"] = "Index";
}

<h1>Index RendezVous</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form action="RendezVous/OnGet">
    <div class="form-group row">
        <div class="col">
            <input placeholder="DateDébut" type="datetime-local" value="@ViewData["dateDebut"]" id="dateDébut" name="dateDébut" class="form-control" required />
        </div>
        <div class="col">
            <input placeholder="DateFin" type="datetime-local" value="@ViewData["dateFin"]" id="dateFin" name="dateFin" class="form-control" required />
        </div>
        <div class="col">
            <select class="form-control" name="photographeID" value="ViewBag.PhotographeId" asp-items="ViewBag.Photographes" required></select>
        </div>
        <div class="col">
           <button class="btn btn-info" type="submit">Filtrer</button>
        </div>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.dateRendezvous)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.commentaire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.heureDebut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.justification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.statutPhoto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.commentairePhotos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeureFin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Propriete)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (Model == null)
            {
                <h2>Aucun rendez-vous</h2>
            }
            else
            {
                <tr>
            <td>
                @Html.DisplayFor(modelItem => item.dateRendezvous)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.commentaire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.heureDebut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.justification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.statutPhoto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.commentairePhotos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HeureFin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Propriete.Adresse)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RendezVousId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RendezVousId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RendezVousId">Delete</a>
            </td>
            </tr>
        }
        
        }
        </tbody>
    </table>
